dialog {
    position: fixed;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    max-width: 484px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-self: stretch;
    }
  
  /* Add a backdrop behind the modal dialog */
  dialog::backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    }

    p {
        font: helvetica;
    }

canvas {
    display: block;
    margin: 0 auto;
    }

body {
    background-color: rgb(8, 8, 8);
    }

#IronHacker{
    margin: 20px auto;
    text-align: center;
    color: white;
    font-size: 30px;
    }